{% extends "layout.njk" %}

{% block content %}
    <section class="contents">

        <div class="content" id="starter">

            <div class="content__image-container">
                <img src="/Starter.svg" alt="Curso Starter">
            </div>
            <div class="title__content">
                <p>Curso Starter</p>
            </div>
            <div class="modules__info">
                <p>5 Modulos</p>
                <p class="content__price">Free</p>
            </div>
        </div>

         <div class="content" id="launchbase">

            <div class="content__image-container">
                <img src="/Launchbase.svg" alt="Curso Launchbase">
            </div>
            <div class="title__content">
                <p>Curso Launchbase</p>
            </div>
            <div class="modules__info">
                <p>7 Modulos</p>
                <p class="content__price">Pago</p>
            </div>
        </div>

        <div class="content" id="gostack">

            <div class="content__image-container">
                <img src="/GoStack.svg" alt="Curso GoStack">
            </div>
            <div class="title__content">
                <p>Curso GoStack</p>
            </div>
            <div class="modules__info">
                <p>10 Modulos</p>
                <p class="content__price">Pago</p>
            </div>
        </div>

    </section>
    
    <div class="modal-overlay">
        <div class="modal">
            <a class="close-modal">
                <i class="material-icons">close</i>
            </a>
            <a class="maximize-modal">
                <img src="/img/aspect_ratio-24px.svg" alt="">
            </a>

            <div class="modal-content">
                <iframe src="" frameborder="0"></iframe>
            </div>
        </div>

    </div>
{% endblock content %}

{% block script %}<script src='script.js'></script>{% endblock script %}
