{% extends "layout.njk" %}

{% block content %}
    <section class="contents">
        {% for item in items %}
            <div class="content" id="{{ item.course }}">
                <div class="content__image-container">
                    <img src="{{ item.image }}" alt="Curso {{ item.course }}">
                </div>
                <div class="title__content">
                    <p>{{ item.title }}</p>
                </div>
                <div class="modules__info">
                    <p>{{ item.modules }}</p>
                    <p class="content__price">{{item.price}}</p>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock content %}

{% block script %}<script src='script.js'></script>{% endblock script %}
