{% extends "layout.njk" %}
    
    {% block content %}
    <div id="wrapper">

        <img class="logo" src="/melhores-tecnologias.svg" alt="Rocketseat">
        <h1>Rocketseat</h1>
        <h2>As melhores tecnologias em programação, direto ao ponto e do jeito certo.</h2>
        <p>No meio de tanta informação e da quantidade de ferramentas que surgem todos os dias, você precisa de alguém que te leve na direção certa.</p>
    </div>
    {% endblock content %}