<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title >Sobre</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="icon" href="https://raw.githubusercontent.com/Rocketseat/bootcamp-launchbase-desafios-02/master/desafios/favicon.ico" type="image/x-icon" />
    <link rel='stylesheet' type='text/css' media='screen' href='styles.css'>   
    
</head>
<body>
    <header>
        <div class="links">
            <a href="index.html">Home</a>
            <a href="https://discordapp.com/invite/gCRAFhc">Comunidade</a>
            <a href="mailto:oi@rocketseat.com.br">Email</a>
            <a href="sobre.html">Sobre</a>
            <a href="tel:+5547992078767">Telefone</a>
            <a href="conteudos.html">Conteúdos</a>
        </div>
    </header>
    
    <div id="wrapper">

        <img class="logo" src="/img/melhores-tecnologias.svg" alt="Rocketseat">
        <h1>Rocketseat</h1>
        <h2>As melhores tecnologias em programação, direto ao ponto e do jeito certo.</h2>
        <p>No meio de tanta informação e da quantidade de ferramentas que surgem todos os dias, você precisa de alguém que te leve na direção certa.</p>
        
    
    <div id = "links-footer" class="links">
        <a href="https://github.com/rocketseat" target="_blank">Github</a>
        <a href="https://fb.com/rocketseat" target="_blank">Facebook</a>
        <a href="https://instagram.com/rocketseat-oficial" target="_blank">Instagram</a>
    </div>

    <script src='main.js'></script>
</body>
</html>